<div class="new-note">
  <div class="new-note-container">
    <form class="form">
      <fieldset>
        <label for="title">Title Tomalo</label>
        <input name="title"          ng-model="note.title" />
      </fieldset>

      <fieldset>
        <label for="description">Description</label>
        <textarea name="description" ng-model="note.description"></textarea>
      </fieldset>

      <fieldset>
        <label for="content">Content</label>
        <textarea name="content"     ng-model="note.content"></textarea>
      </fieldset>
      <input type="submit" ng-click="saveNote(note)" value="Save"></input>
    </form>
  </div>
</div>