<header>
      <h1 class="text-center">Gems</h1>
      <h2 class="text-center">– Kwan store popo–</h2>
</header>
<section class="products">
   <!-- <products></products> -->
    <div class="search">
      <h1>Gems Directory</h1>
      <label>Search:</label>
      <input class="gems" ng-model="gemsQuery" placeholder="Search for gems" autofocus></input>
      <label > By: 
        <select ng-model="gemsOrder">
          <option value="name">Name</option>
          <option value="price">Price</option>
        </select>
      </label>
      <label> Ascending
        <input type="radio" ng-model="direction" name="direction" checked>
      </label>
      <label> Descending
        <input type="radio" ng-model="direction" name="direction" value="reverse">
      </label>
    </div>
    <!--  Products Container  -->
    <div class="list-group">
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in products | filter: gemsQuery | orderBy:gemsOrder:direction">
        <h3>%% product.name %% <em class="pull-right">%% product.price | currency %%</em></h3>
        <!-- Image Gallery  -->
        <product-gallery></product-gallery>
        <!-- Product Tabs  -->
        <product-tabs></product-tabs>
      </div>
    </div>
</section>